<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blockchain Node Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
            padding-left: 6px; padding-right: 6px; margin-bottom: 10px; }
        .card-body { padding: 0.75rem; min-height: 97px; }
        .card-title { background-color: #dcedc8; }
        .table thead th { text-align: center; background-color: #dcedc8; }
        .navbar { background-color: #dcedc8 !important;
            -webkit-box-shadow: 12px 12px 19px -15px rgba(0,0,0,0.75);
            -moz-box-shadow: 12px 12px 19px -15px rgba(0,0,0,0.75);
            box-shadow: 12px 12px 19px -15px rgba(0,0,0,0.75); }
        .table, .card { box-shadow: 12px 12px 19px -15px rgba(0,0,0,0.75); }
        .container-fluid { padding: 20px 20px; }
        .ellipsis { white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
    </style>
</head>

<body>

<div>
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/img/icon-spring-boot.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Blockchain Node API
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Menu 1 <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">System Health / Wallet</h6>
                        <p class="card-text">
                            <span id="health"></span>
                        </p>
                        <!-- btn-success / btn-danger -->
                        <button type="button" class="btn btn-sm btn-success">OK</button>
                        <button type="button" class="btn btn-sm btn-warning">UNLOCKED</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-8">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Initial -> Synchronized -> Best Block</h6>
                        <p class="card-text">
                            <span id="startCount"></span> -> <span id="syncCount"></span> -> <span id="bestCount"></span>
<!--                            <div class="spinner-border text-warning" role="status">-->
<!--                                <span class="sr-only">Loading...</span>-->
<!--                            </div>-->
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Wallet Balance</h6>
                        <p class="card-text"><span id="balance"></span> BTC</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Total Addresses</h6>
                        <p class="card-text"><span id="address-count">-1</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Total Transactions</h6>
                        <p class="card-text"><span id="transaction-count">-1</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm">
                <h5>Last Transactions at Here</h5>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">TX Hash</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row">
                            1 sec ago
                        </td>
                        <td class="ellipsis">
                            0xdfdb0f483df124b701713dc50f40e690a44548de044223318ec8d046c616c494
                        </td>
                        <td>0x91da9dd94da500531731e733651bef14e69843d7</td>
                        <td>0xfa728202d2a05d9e4ccf7406f72e1b139f031d06</td>
                        <td>0.00007</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
$(function() {
    $.post( "/api/v1/dashboard", null, function(data) {
        console.log('data ' + JSON.stringify(data));
        // {"code":999,"error":null,
        // "result":{"startCount":539732,"syncCount":0,"bestCount":571449,"balance":0}}
        $("#startCount").text(data.result.startCount);
        $("#syncCount").text(data.result.syncCount);
        $("#bestCount").text(data.result.bestCount);
        $("#balance").text(data.result.balance);
    });
});
</script>

</body>
</html>